version: 2
module_version: 5.1.1

tests:
  - name: AMD64-based workerpool
    project_root: examples/amd64

  - name: ARM64-based workerpool
    project_root: examples/arm64

  - name: extra-iam-statements
    project_root: examples/extra-iam-statements

  - name: Custom IAM Role
    project_root: examples/custom-iam-role

  - name: With autoscaling
    project_root: examples/autoscaler
    environment:
      TF_VAR_spacelift_api_key_id: "EXAMPLE0VOYU49U485BMZZVAWXU59VOW2"
      TF_VAR_spacelift_api_key_secret: "EXAMPLEf7anuofh4b6a4e43aplqt49099606de2mzbq4391tj1d3dc9872q23z8fvctu4kh"
      TF_VAR_spacelift_api_key_endpoint: "https://example.app.spacelift.io"

  - name: S3-hosted autoscaler
    project_root: examples/autoscaler-custom-s3-package
    environment:
      TF_VAR_spacelift_api_key_id: "EXAMPLE0VOYU49U485BMZZVAWXU59VOW2"
      TF_VAR_spacelift_api_key_secret: "EXAMPLEf7anuofh4b6a4e43aplqt49099606de2mzbq4391tj1d3dc9872q23z8fvctu4kh"
      TF_VAR_spacelift_api_key_endpoint: "https://example.app.spacelift.io"
      TF_VAR_autoscaler_version: "v1.0.3"

  - name: Self-hosted setup
    project_root: examples/self-hosted

  - name: With autoscaling, lifecycle rules and BYO ssm and secretsmanager
    project_root: examples/byo-ssm-secretsmanager-with-autoscaling-and-lifecycle
    environment:
      TF_VAR_spacelift_api_key_id: "EXAMPLE0VOYU49U485BMZZVAWXU59JOEY1"
      TF_VAR_spacelift_api_key_secret: "EXAMPLE22anuofh4b6a4e43aplqt49099606de2mzbq4391tj1d3dc9872q23z8fvctu4kh"
      TF_VAR_spacelift_api_key_endpoint: "https://example.app.spacelift.io"

  - name: With autoscaling and custom EBS throughput
    project_root: examples/autoscaler-custom-ebs-throughput
    environment:
      TF_VAR_spacelift_api_key_id: "EXAMPLE0VOYU49U485BMZZVAWXU59JOEY1"
      TF_VAR_spacelift_api_key_secret: "EXAMPLE22anuofh4b6a4e43aplqt49099606de2mzbq4391tj1d3dc9872q23z8fvctu4kh"
      TF_VAR_spacelift_api_key_endpoint: "https://example.app.spacelift.io"
